Temp/
.DS_Store
.idea/
.vs/
obj/
Library/
Screenshots/
*.csproj
*.sln
*.userprefs
tmp/
_build/
/Assets/StreamingAssets
/Assets/_SRC/_SGAMES/_PROJECTS
Assets/Lobby/Editor
/subproject
/builds
/build
_BUILD_SRC
/Assets/.mobpacache
contrib/proto
bundles/